*VenvML
*.idea
*potato_leaf_classification/PlantVillage
*Data
potato_leaf_classification/model
multiclass_semantic_segmentation/multi_segmentation_50_epochs_cat_cross_entropy.hdf5
multiclass_semantic_segmentation/multi_segmentation_50_epochs_cat_cross_entropy_resnet50.hdf5
multiclass_semantic_segmentation/multi_segmentation_50_epochs_cat_cross_entropy_vgg16.hdf5